@font-face {
  font-family: 'Nunito Sans';
  src: url('./assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bs-table-bg: transparent;
}

body {
  font-family: 'Nunito Sans', sans-serif !important;
  margin: 0;
  background-color: #F5F6FA !important;
}